.caixa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.12),0 1px 5px 0 rgba(0,0,0,0.2);
    border-radius: 8px;
    padding: 15px;
}

.caixa button {
    margin-left: 25px;
    padding-left: 15px;
    padding-right: 15px;
}
.esqueceu{
   color: #007bff;
   
}
.esqueceu:hover{
   text-decoration: underline;
   color: #335e85;
   cursor: pointer;
   
}
.inputAnimado{
    margin: 10px 25px;
    
    display: block;
    border: none;
    padding: 10px 0;
    border-bottom: solid 1px #1abc9c;
    -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
    background-position: -250px 0;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: #0e6252;
}

.inputAnimado:focus, .inputAnimado:valid {
    box-shadow: none;
    outline: none;
    background-position: 0 0;
}

.inputAnimado:invalid{
    border: none;
}
.inputAnimado::-webkit-input-placeholder {
    font-family: 'roboto', sans-serif;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.inputAnimado:focus::-webkit-input-placeholder, .inputAnimado:valid::-webkit-input-placeholder {
    color: #1abc9c;
    font-size: 11px;
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    visibility: hidden;
}


