.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
   
    text-align: center;
}
.navbar{
    border-radius: 0px;
}


.title {
    color: #fff;
    font-size: 18px;
     margin-top: 10px;
}
.nav li{
    margin-top: 5px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 5px;
    color: white;
   
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    
}

button:hover, a:hover {
    opacity: 0.7;
}
