{% extends "master.twig"%}
{% block head %}
       {{ parent() }}
    <link href="/css/cadastro.css" rel="stylesheet" type="text/css"/>
    {% endblock %}
{% block conteudo %}

    <div class="caixa">
    <form  class="form-group  center-block text-center" id="formCadastro">
        
        <div class="input-group">
            <div class="input-group-prepend">
                
            </div>
            <input type="text" name="Nome" class="form-control" placeholder="Nome"/>
        </div>
        <div class="input-group">
            <div class="input-group-prepend">
               
            </div>
            <input type="text" name="Sobrenome" class="form-control" placeholder="sobrenome"/>
        </div>
          <div class="input-group">
            <div class="input-group-prepend">
            </div>
              <input type="text" name="Username" class="form-control" placeholder="Username"/>
        </div>
          <div class="input-group">
            <div class="input-group-prepend">
                
            </div>
              <input type="password" name="senha" class="form-control" placeholder="senha"/>
        </div>
          <div class="input-group">
            <div class="input-group-prepend">
    
            </div>
              <input type="password" name="confirmar senha" class="form-control" placeholder="confirmar senha"/>
        </div>
        <div class="">  
            <button type="submit" class="btn btn-success">Cadastrar</button>
        </div>

    </form>
    </div>
    <div id="div_retorno">
        
    </div>
    <div id="processando" style="display: none;">
        <img src="imagens/espera.gif" alt=""/>
        
    </div>
    
{% endblock %}