{% extends "master.twig"%}
{% block titulo %}EZ CODE{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="/css/master.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block conteudo %}
    <a href="/logoff">logoff</a>
    
    
{% endblock %}