{% extends "master.twig"%}
{% block head %}
 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" 
integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="/css/perfil.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block menu %}
   <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/logado">
    <img src="imagens/ez_icone.png" width="30" height="30" alt="">
  </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class=""><a href="#">Perfil</a></li>
        <li><a href="#">Problemas</a></li>
        <li><a href="#">Trabalhos</a></li>  
      </ul>
      <ul class="nav navbar-nav navbar-right">
        
        <li><a href="/logoff"><span class="glyphicon glyphicon-log-in"></span> Logoff</a></li>
      </ul>
    </div>
  </div>
</nav>
  
  

     {% endblock %}
     {% block conteudo %} 
  
    
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                

                    <table class="table">
                        <thead class="thead-light">
                         
                        </thead>
                        <tbody>
                            {% for p in dados %}
                                <tr>

                                    <td>
                                        <a href="#" class="list-group-item-action">{{p.titulo }}</a>
                                    </td>

                                </tr>
                            {%endfor%} 
                            </tr>
                        </tbody>
                    </table>

                
            </div>
        </div>

    </div>


{% endblock %}
