{% extends "master.twig"%}
{% block titulo %}EZ CODE{% endblock %}
{% block head %}
    {{ parent() }}
    <link href="/css/login.css" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block conteudo %}
   
    <div class="caixa col-12 col-sm-12 col-xl-10 col-lg-12 col-xs-8">
        <div class="">
            <form  class="form-group  center-block text-center" id="formLogin">
                <div class="">                    
                    <div class="input-group-prepend input-group col-8 col-sm-8 col-xl-8 col-lg-6 col-xs-6">
                        <input type="text" name="username" class="inputAnimado" placeholder="Username" required/>

                    </div>
                </div>
                <div class="">                   
                    <div class="input-group-prepend input-group col-8 col-sm-8 col-xl-8 col-lg-6 col-xs-6">
                        <input type="password" name="senha" class="inputAnimado" placeholder="senha" required/>

                    </div>
                </div>

                <div class="esqueceu">
                    <a  onclick="reapareceDiv()"> Esqueceu a senha?</a>
                </div>

                <div class="">  
                    <div class="input-group-prepend input-group col-8 col-sm-8 col-xl-6 col-lg-6 col-xs-6">
                        <button type="submit" class="btn btn-success" >Entrar</button>
                    </div>
                </div>
                <div class="esqueci-senha" id="esqueci-senha" style="display: none;"> 
                    <img onclick="tiraDiv()" src="imagens/cancel.png" >
                    <p>Preencha o seu username acima para que possamos enviar no seu email 
                        uma redefinição de senha</p> 
                    <button type="submit" class="btn btn-success">Enviar email</button>
                </div>
            </form>
        </div>
    </div>





{% endblock %}