<!DOCTYPE html>
<html>
    <head>
        <title>Meu Projeto -{% block titulo %}{% endblock titulo %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        {% block conteudo %}
            {{include ('Componentes/menu.twig')}}
        {% endblock conteudo %}

        {% block rodape %}
            <script src="../js/jquery-3.3.1.min.js" type="text/javascript"> </script>
            <script src="../js/funcoes.js" type="text/javascript"> </script>
            
        {% endblock rodape %}
    </body>
</html>

