<!DOCTYPE html>
<html>
    <head>
        <title>Meu Projeto -{% block titulo %}{% endblock titulo %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    </head>
    <body>
        {% block conteudo %}
            {{include ('Componentes/menu.twig')}}
            <div>
                Texto da master<br>

            </div>
        {% endblock conteudo %}

        {% block rodape %}
        {% endblock rodape %}
    </body>
</html>

