<!DOCTYPE html>
<html>
    <head>
        <title>Visão Base</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Tanto faz</div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        Aqui, aqui
        
        
    </body>
</html>

