<!DOCTYPE html>
<html>
    <head>{% block head %}
        <title>Meu Projeto -{% block titulo %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    {% endblock %}
    </head>
    <body>
        <div class="container">
        {% block conteudo %}
            {{ include('componentes/menu.twig') }}
        {% endblock %}
        
        {% block rodape %}
           <script src="js/jquery-3.3.1.min.js" type="text/javascript"> </script>
            <script src="js/funcoes.js" type="text/javascript"> </script>
            <script src="css/bootstrap.min.js" type="text/javascript"></script>
          
        {% endblock %}
         
        </div>
    </body>
</html>

